.stats {
    display: grid;
    grid-gap: 4px 16px;
    grid-template-columns: max-content;
    width: 100%;
  }
.stats dt {
    font-weight: bold;
}
.stats dd {
    margin: 0;
    grid-column-start: 2;
}
.stats img {
    height: 20px;
    width: 20px;
}